[submodule "AuthBackend_TUTUIS"]
	path = AuthBackend_TUTUIS
	url = https://github.com/Horus19/AuthBackend_TUTUIS.git
[submodule "MailerBackend_TUTUIS"]
	path = MailerBackend_TUTUIS
	url = https://github.com/Horus19/MailerBackend_TUTUIS.git
[submodule "DashBoard"]
	path = DashBoard
	url = https://github.com/Horus19/DashBoard.git
[submodule "Socket_Server_TUTUIS"]
	path = Socket_Server_TUTUIS
	url = https://github.com/Horus19/Socket_Server_TUTUIS
